<h1> Galpões & Estoque </h1>

<h2>Galpões</h2>
<% @warehouses.each do |w|%>
  <%= link_to(w.name, warehouse_path(w.id)) %>
  <p> Código: <%= w.code%> </p>
  <p> Cidade: <%= w.city%> </p>
  <p><%= w.area%> m2</p>
<%end%>

<%if @warehouses.empty? %> 
  <p>Não existem galpões cadastrados</p>
<%end%>  